:root {
    --main-bg-color: #212121;
    --main-bg-color-light: rgb(33, 33, 33, .5);
    --main-text-color: rgb(238, 238, 238);
    --main-sub-text-color: #dedede;
    --main-highlight-color: #ffbf48;
    --main-border-radius: 0.313rem;
    --main-design-color: #57f1f7;
    --main-design-color-light: hsl(182, 91%, 65%, .5);
    --main-gradiant-color: linear-gradient(90deg, rgba(194,37,101,255) 0%, rgba(45,75,154,255) 100%);
    --button-transition: cubic-bezier(0.165, 0.84, 0.44, 1);

}

*{
    user-select: none;
}

@keyframes reverseGradient {
    0% {
        background-position: left center;
    }
    100% {
        background-position: right center;
    }
}

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: var(--main-bg-color) !important;
    color: var(--main-text-color) !important;
}

.btn-main-new {
    font-family: inherit;
    display: inline-block;
    width: 10rem;
    height: 3em;
    line-height: 2em;
    overflow: hidden;
    cursor: pointer;
    margin: 20px;
    font-size: 18px;
    font-weight: 700;
    z-index: 1;
    color: var(--main-design-color);
    border: 2px solid var(--main-design-color);
    border-radius: 6px;
    position: relative;
}

button.btn-main-new::before {
    position: absolute;
    content: "";
    background: var(--main-design-color);
    width: 270px;
    height: 150px;
    z-index: -1;
    border-radius: 50%;
}

button.btn-main-new:hover {
    color: var(--main-bg-color);
}

button.btn-main-new:before{
    top: 100%;
    left: 100%;
    transition: 0.3s all;
}

button.btn-main-new:hover::before {
    top: -30px;
    left: -30px;
}

.btn-modal-new {
    padding: 10px 30px;
    margin: unset;
    line-height: unset;
}

.btn:hover {
    border-color: var(--main-design-color);
}

.dff-padding-top {
    padding-top: 12rem;
}

.dff-padding-top-3 {
    padding-top: 3rem;
}

.dff-padding-vh {
    padding-top: 20vh;
    padding-bottom: 15vh;
}

.spin {
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.vertical-center {
    min-height: 100%;  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dff-h1 {
    font-size: 5rem;
    margin: 0;
    font-weight: 800;
}

.btn-main {
    background: var(--main-design-color) !important;
    background-size: 200% 200%;
    border: none;
    border-radius: var(--main-border-radius) !important;
    padding: 10px 30px;
    font-weight: 800;
    transition: transform 0.5s;
    color: var(--main-bg-color) !important;
    height: auto;
    width: 10rem;
    font-size: 1.2rem;
    text-align: center;
    transition: 0.5s;
}

.btn-main:hover {
    font-weight: 900;
}


.btn-modal {
    background: var(--main-design-color) !important;
    border: none;
    border-radius: var(--main-border-radius) !important;
    padding: 1rem;
    font-weight: 800;
    transition: transform 0.5s;
    color: var(--main-bg-color) !important;
    height: auto;
    width: 10rem;
    font-size: 1.2rem;
    text-align: center;
}

.btn-close {
    color: var(--main-sub-text-color) !important;
}


.icon {
    width: 200px;
    height: auto;
    margin-bottom: 1rem;
}

.modal-content {
    background-color: #181818;
    color: var(--main-text-color) !important;
    font-size: 1.2rem;
}

.modal-header {
    font-size: 2.5rem;
    font-weight: 800;
    border-bottom: 1px solid #343a40;
}

.modal-backdrop.show {
    opacity: 0.7;
}


.modal.show .modal.dialog {
    transform: translateY(0);
}

.modal-footer {
    border: none;
    padding: 0px !important;
}

.btn-close {
    size: 1.5rem;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.input-slide {
    display: flex;
    flex-direction: column;
}

.input-slide label {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--main-sub-text-color);
}

.input-slide select{
    width: 100%;
    padding: 10px;
    border-radius: var(--main-border-radius);
    border: none;
    background-color: #343a40;
    color: var(--main-text-color);
    font-size: 1.2rem;
    font-weight: 500;
}

.input-slide input[type="range"] {
    width: 100%;
    padding: 10px;
    border-radius: var(--main-border-radius);
    border: none;
    background-color: #343a40;
    color: var(--main-text-color);
    font-size: 1.2rem;
    font-weight: 500;
    background-color: transparent;
    color: var(--main-gradiant-color);
}

.input-text {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    border-radius: var(--main-border-radius);
    border: none;
    background-color: #343a40;
    color: var(--main-text-color);
    font-size: 1.2rem;
    font-weight: 500;
}
.input-switch {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    border-radius: var(--main-border-radius);
    border: none;
    color: var(--main-text-color);
    font-size: 1.2rem;
    font-weight: 500;
}

.input-text-bb {
    border: 1px solid;
    border-color: var(--main-design-color-light);
}

.input-text input {
    border-radius: var(--main-border-radius);
    border: none;
    background-color: #343a40;
    color: var(--main-text-color);
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
}

.input-text input:focus {
    outline: none;
    border-bottom: #181818;
}


input[type="range"] {
    accent-color: var(--main-design-color);
    outline: none;
}

input[type="range"]:hover {
    outline: none;
    accent-color: var(--main-design-color);
}

.gap-5{
    gap: 0.8rem !important;
}

.custom-link {
    color: inherit; /* Use the color of the parent element */
    text-decoration: none; /* Remove underline */
  }
  
  .custom-link:hover {
    text-decoration: underline; /* Add underline on hover */
}


footer{
    /* position: fixed;
    bottom: 0; */
    width: 100%;
    background-color: var(--main-bg-color);
    color: var(--main-sub-text-color);
    text-align: center;
}

/* waitinglobby */

#playerList{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    height: 60vh;
}

.player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: var(--main-border-radius);
    background-color: #343a40;
    margin: 10px 0;
    height: 3rem;
    border: 1px solid var(--main-design-color-light);
}